.wrapper .button2 {
    width: 45%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.wrapper .button2:hover {
    width: calc(50% + 20px); 
    padding: 15px 15px 15px 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.wrapper .button2:active {
    transform: scale(0.98);
}

.Top-Text {
    margin: 2.5px auto 0; 
    width: 640px; 
    padding: 30px; 
    font-family: 'Lexend Deca', sans-serif; 
    color: #2E475D;    
    text-align: center;
    font-size: 25px;
}

.login2 a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s;
    
}

.login2 a:hover {
    color: #fdfdfd !important;
    transform: scale(1.2);
    text-shadow: 0 0 10px rgb(255, 212, 219),
    0 0 20px rgb(214, 212, 212),
    0 0 10px rgb(218, 216, 216),
    0 0 10px rgb(187, 184, 186),
    0 0 10px rgb(252, 244, 245);
    text-decoration: none !important;
}

